@font-face {
font-family: "Raleway-Black"; 
src: url("../fonts/Raleway-Black.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 
@font-face {
font-family: "Tahoma"; 
src: url("../fonts/Tahoma.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}
@font-face {
font-family: "Raleway-Thin"; 
src: url("../fonts/Raleway-Thin.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 
@font-face {
font-family: "Raleway-Regular"; 
src: url("../fonts/Raleway-Regular.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 
@font-face {
font-family: "Raleway-Light"; 
src: url("../fonts/Raleway-Light.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 
@font-face {
font-family: "Raleway-Medium"; 
src: url("../fonts/Raleway-Medium.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 